.boutique {
  position: relative;
  overflow: hidden;

  //@include clc;
  min-height: fit-content;

  .boutique-title {
    padding: 0px 10vw;

    .boutique-title-text {
      font-family: italic;
      font-size: 60px;
      -webkit-text-stroke: 2px black;
      color: transparent;
      text-transform: uppercase;
      font-weight: 900;
      font-style: italic;
      transform: skewX(-10deg);

      @include breakpointMin(start) {        
        font-size: 22px;
        -webkit-text-stroke: 1px black;
        margin-bottom: 20px;
        margin-top: 20vh;
      }

      @include breakpointMin(mobile_s) {        
        font-size: 22px;
        -webkit-text-stroke: 1px black;
        margin-top: 0vh;
      }

      @include breakpointMin(mobile_m) {        
        font-size: 12vw;
        -webkit-text-stroke: 2px black;
      }

      @include breakpointMin(mobile_l) {        
        font-size: 32px;
        -webkit-text-stroke: 2px black;
      }

      @include breakpointMin(tablet) {        
        font-size: 40px;
        -webkit-text-stroke: 2px black;
      }

      @include breakpointMin(screen_s) {        
        font-size: 30px;
        -webkit-text-stroke: 2px black;
        margin-bottom: 0px;
                margin-top: 20vh;
      }

      @include breakpointMin(screen_l) {        
        font-size: 60px;
        -webkit-text-stroke: 3px black;
      }

      @include breakpointMin(screen_xl) {        
        font-size: 3vw;
      }
    }

    width: 100%;
  }

  .boutique-container {
    margin-top: 50px;
    height: 500px !important;

    &-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 80vw;
      margin-right: auto;
      margin-left: auto;

      .boutique-item {
        width: 500px !important;
      }
      .boutique-item-box {
        @include ccc;

         .overlay {
          transform: translateX(0px);
         }
      }
    }

    .slick-list {
      padding-left: 10vw;
      overflow: hidden;
      max-height: 100%;
    }

    .slick-prev {
      &::before {
        font-size: 5vw;
      }
      top: 0;
      
      right: unset;
      left: 0;
      width: 100px;
      height: 100px;
      z-index: 6;
      filter: invert(1);
    }

    .slick-next {
      &::before {
        font-size: 5vw;
      }
      top: 0;
      right: unset;
      left: unset;
      right: 0;
      width: 100px;
      height: 100px;
      z-index: 6;
      filter: invert(1);
    }

    @include breakpointMin(start) {      
      height: 250px !important;
    }

    @include breakpointMin(mobile_s) {      
    }

    @include breakpointMin(mobile_m) {      
    }

    @include breakpointMin(mobile_l) {      
      height: 65vw !important;
      max-height: 100%;
    }

    @include breakpointMin(tablet) {      
    }

    @include breakpointMin(screen_s) {      
      height: 500px !important;
    }

    @include breakpointMin(screen_m) {      
    }

    @include breakpointMin(screen_l) {      
    }

    @include breakpointMin(screen_xl) {      
    }
  }

  .boutique-item-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    overflow: hidden;
    height: 500px !important;
    width: 600px !important;

    @include breakpointMin(start) {      
    }

    @include breakpointMin(mobile_s) {      
      width: 80vw !important;
      height: 250px !important;
    }

    @include breakpointMin(mobile_m) {      

      height: 250px !important;
    }

    @include breakpointMin(mobile_l) {      
      height: 65vw !important;
    }

    @include breakpointMin(screen_s) {      
      height: 500px !important;
      width: 600px !important;

    }
  }

  .boutique-item {
    @include ccc;

    height: 500px !important;
    width: 600px !important;
    position: relative;

    @include breakpointMin(start) {      
    }

    @include breakpointMin(mobile_s) {      
      width: 90vw !important;
      height: 260px !important;
    }

    @include breakpointMin(mobile_l) {      
      height: 65vw !important;
    }

    @include breakpointMin(screen_s) {      
      height: 500px !important;
      width: 600px !important;
    }

    .overlay {
      position: absolute;
      height: 400px;
      border-radius: 0px 40px 40px 0px;
      width: 270px;
      transform: translateX(110px);
      z-index: 10;

      @include breakpointMin(start) {        
      }

      @include breakpointMin(mobile_s) {        
        width: 130px !important;
        height: 210px !important;
        transform: translateX(20vw) translateY(5px)
      }

      @include breakpointMin(mobile_m) {        
        width: 40vw !important;
      }

      @include breakpointMin(mobile_l) {        
        height: 80% !important;
        width: 40vw !important;
      }

      @include breakpointMin(screen_s) {        
        height: 400px !important;
        width: 270px !important;
        transform: translateX(110px);
      }
    }

    .boutique-item-canvas {
      @include ccc;
      position: relative;
      width: 400px;
      height: 500px;

      @include breakpointMin(start) {        
      }

      @include breakpointMin(mobile_s) {        
        width: 250px !important;
        height: 250px !important;
        
      }

      @include breakpointMin(mobile_l) {        
        width: 400px !important;
        height: 100% !important;
      }

      @include breakpointMin(screen_s) {        
        width: 500px !important;
        height: 500px !important;
      }

      canvas {
        position: absolute;
        z-index: 20;
        width: 400px !important;
        height: 500px !important;

        @include breakpointMin(start) {          
        }

        @include breakpointMin(mobile_s) {          
          width: 250px !important;
          height: 250px !important;
          transform: translateX(-25px);
        }

        @include breakpointMin(mobile_m) {          
          width: 250px !important;
          height: 250px !important;
          transform: translateX(-25px);
        }    

        @include breakpointMin(mobile_l) {          
          width: auto !important;
          left: 2vw; 
          max-width: unset;
          height: 100% !important;
        }

        @include breakpointMin(tablet) {          
          width: auto !important;
          left: 2vw; 
          max-width: unset;
          height: 100% !important;
        }

        @include breakpointMin(screen_s) {          
          transform: translateX(-90px);
        }

        @include breakpointMin(screen_m) {          
        }

        @include breakpointMin(screen_l) {          
        }

        @include breakpointMin(screen_xl) {          
        }
      }
    }

    .boutique-item-title {
      font-family: italic;
      font-size: 60px;
      -webkit-text-stroke: 2px black;
      color: transparent;
      text-transform: uppercase;
      font-weight: 900;
      font-style: italic;
      transform: skewX(-10deg);

      z-index: 30;
      position: absolute;
      top: 90px;
      left: 230px;

      @include breakpointMin(start) {        
      }

      @include breakpointMin(mobile_s) {        
        font-size: 40px;
        -webkit-text-stroke: 1px black;
        top: 30px;
        left: 110px;
      }

      @include breakpointMin(mobile_m) {        
      }

      @include breakpointMin(mobile_l) {        
        font-size: 9vw;
        -webkit-text-stroke: 2px black;
        top: 60px;
        left: 35vw;
      }

      @include breakpointMin(tablet) {        
      }

      @include breakpointMin(screen_s) {        
        font-size: 60px;
        top: 90px;
        left: 230px;
        -webkit-text-stroke: 2px black;
      }

      @include breakpointMin(screen_m) {        
      }

      @include breakpointMin(screen_l) {        
      }

      @include breakpointMin(screen_xl) {        
      }
    }

    .boutique-item-description {
      max-width: 300px;
      font-family: regular;
      font-size: 22px;
      color: black;
      text-transform: uppercase;
      font-weight: 900;
      font-style: italic;
      transform: skewX(-10deg);

      z-index: 30;
      position: absolute;
      top: 200px;
      left: 230px;

      @include breakpointMin(start) {        
      }

      @include breakpointMin(mobile_s) {        
        font-size: 11px;
        top: 100px;
        left: 110px;
        width: 150px;
      }

      @include breakpointMin(mobile_m) {        
        width: 180px;
      }

      @include breakpointMin(mobile_l) {        
        font-size: 14px;
        top: 35vw;
        left: 35vw;
        width: 50vw;
      }

      @include breakpointMin(tablet) {        
      }

      @include breakpointMin(screen_s) {        
        top: 200px;
        left: 230px;
        font-size: 22px;
        width: unset;
      }

      @include breakpointMin(screen_m) {        
      }

      @include breakpointMin(screen_l) {        
      }

      @include breakpointMin(screen_xl) {        
      }
    }

    .boutique-item-link {
      width: 220px;
      font-family: regular;
      font-size: 22px;
      color: black;
      text-transform: uppercase;
      font-weight: 900;
      font-style: italic;

      border: 1px solid black;
      text-decoration: none;
      padding: 10px 20px;
      text-align: center;

      z-index: 30;
      position: absolute;
      top: 370px;
      left: 230px;
      transition: all .25s ease;
      transform: translateX(0px);

      &:hover {
        transform: translateX(10px);
      }


      @include breakpointMin(start) {        
      }

      @include breakpointMin(mobile_s) {        
        font-size: 13px;
        top: 160px;
        left: 100px;
        width: 110px;
      }

      @include breakpointMin(mobile_m) {        
        width: 140px;
      }


      @include breakpointMin(mobile_l) {        
        font-size: 13px;
        top: 50vw;
        left: 35vw;
    
      }

      @include breakpointMin(screen_s) {        
        font-size: 21px;
        top: 370px;
        left: 230px;

      }
    }
  }
}