@font-face {
    font-family: italic;
    src: url(../assets/font/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: regular;
    src: url(../assets/font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: medium;
    src: url(../assets/font/OpenSans-Medium.ttf);
}