.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: transform;
  z-index: 11;

  .burger-svg {
    overflow: hidden;

    .border {
      fill: transparent;
      stroke: black;
      stroke-width: 15px;
      transition: all .25s ease .4s;
      will-change: transform;
    }

    .cross {
      fill: transparent;
      stroke: black;
      stroke-width: 15px;
      transition: all .25s ease .3s;
      will-change: transform;
    }

    &.open {
      .border {
        transition: all .25s ease 0s;
        will-change: transform;

        &:nth-of-type(1) {
          will-change: transform;
          transform: translateX(-100px);
        }

        &:nth-of-type(2) {
          will-change: transform;
          transform: translateX(100px);
        }

        &:nth-of-type(3) {
          will-change: transform;
          transform: translateX(-100px);
        }

        &:nth-of-type(4) {
          will-change: transform;
          transform: translateX(100px);
        }
      }

      .cross {
        fill: transparent;
        stroke: white;
        transform: translate(50%, -20%) rotate(45deg);
        transition: all .25s ease .1s;
        will-change: transform;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.header {
  position: fixed;
  background: #111111;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease .3s;
  will-change: transform;
  z-index: 10;

  .header-box {
    overflow: hidden;
    padding: 20px;
    border-bottom: 5px solid white;
    padding-bottom: 50px;
    transition: all .15s ease .1s;
    will-change: transform;

    @include breakpointMin(screen_s) {
      padding-bottom: 0;
    }
  }

  .header-title {
    font-size: 30vw;
    text-align: center;
    margin: 0;
    width: fit-content;
    line-height: 20vw;
    transform: translateY(33vw) rotate(-10deg);

    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-family: italic;
    color: transparent;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;

    transition: .5s ease 0s;
    will-change: transform;
    user-select: none;

    @include breakpointMin(screen_m) {
      line-height: 15vw;
    }

    @include breakpointMin(tablet) {
      transform: translateY(41vw) rotate(-10deg);
    }
  }

  .header-nav {
    padding: 0px 10vw;
    display: flex;
    justify-content: space-between;

    @include breakpointMin(screen_s) {
      padding-left: 6vw;
      margin-top: 5vh;
    }

    @include breakpointMax(tablet) {
      padding-left: 22vw;
      padding: 0;
      margin-top: 5vh;
    }

    @include breakpointMin(tablet) {
      margin-top: 5vh;
      padding-left: 30px;
    }

    @include breakpointMax(mobile_l) {
      margin-top: 5vh;
    }

    @include breakpointMax(mobile_s) {
      margin-top: 10px;
    }


    .header-nav-wrapper {
      @include clb;
      
      padding: 0;
      margin: 0;
      z-index: 20;
      transform: unset;


      @include breakpointMin(mobile_s) {
        height: 50vh;
        padding-left: 5vw;
      }

      @include breakpointMin(screen_s) {
        height: 45vh;
        transform: skewX(10deg);
      }

      .header-nav-wrapper-item {
        list-style: none;
        overflow: hidden;
        position: relative;
        height: 60px;
        margin-bottom: 1vh;

        @include breakpointMin(screen_xl) {
          height: 9vh;
        }

        @include breakpointMax(screen_l) {
          height: 60px;
        }

        @include breakpointMax(screen_m) {
          height: 50px;
        }

        @include breakpointMax(screen_s) {
          height: 50px;
        }

        @include breakpointMax(tablet) {
          height: 45px;
        }

        .header-nav-wrapper-item-link {
          -webkit-text-stroke: 1px rgb(255, 255, 255);
          font-family: italic;
          color: transparent;
          text-transform: uppercase;
          font-weight: 900;
          font-style: italic;
          text-decoration: none;
          user-select: none;
          font-size: 60px;
          line-height: .9;

          @include breakpointMin(screen_xl) {
            font-size: 5vw;
          }

          @include breakpointMax(screen_l) {
            font-size: 60px;
            padding: 0px 15px;
          }

          @include breakpointMax(screen_m) {
            font-size: 40px;
          }

          @include breakpointMax(screen_s) {
            font-size: 40px;
          }

          @include breakpointMax(mobile_l) {
            font-size: 45px;
          }

          @include breakpointMax(mobile_m) {
            font-size: 35px;
          }

          @include breakpointMax(mobile_s) {
            font-size: 30px;
          }

          transform: translateY(-7vw);
          transition: all .6s ease 0s;
          will-change: transform;


          padding: 0px 10px;
          width: fit-content;

          display: block;
          top: 0;
          left: 0;

          &:before {
            content: attr(data-before);
            background: linear-gradient(to right, #22deff 0%, #6b08ff 50%, #22deff 100%);
            background-size: 200% auto;

            color: #000;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            opacity: 0;
            transition: all .4s ease;
            will-change: transform;
            transform: translate(0px, 0px);

            animation: shine 5s linear infinite;

            @keyframes shine {
              to {
                background-position: 200% center;
              }
            }
          }

          &:hover {
            &:before {
              opacity: 1;
              transform: translate(20px, 0px);
              z-index: 50;
            }
          }
        }

        &:hover {
          .header-nav-wrapper-item-link {

            &:before,
            &:after {
              content: attr(data-before);
              position: absolute;
              width: 110%;
              z-index: -1;
            }

            &:before {
              top: 0;
              left: 0;
              color: #e0287d;
            }

            &:after {
              top: 0;
              left: 0;
              color: #1bc7fb;
            }

            .single-path {
              clip-path: polygon(0% 12%,
                  53% 12%,
                  53% 26%,
                  25% 26%,
                  25% 86%,
                  31% 86%,
                  31% 0%,
                  53% 0%,
                  53% 84%,
                  92% 84%,
                  92% 82%,
                  70% 82%,
                  70% 29%,
                  78% 29%,
                  78% 65%,
                  69% 65%,
                  69% 66%,
                  77% 66%,
                  77% 45%,
                  85% 45%,
                  85% 26%,
                  97% 26%,
                  97% 28%,
                  84% 28%,
                  84% 34%,
                  54% 34%,
                  54% 89%,
                  30% 89%,
                  30% 58%,
                  83% 58%,
                  83% 5%,
                  68% 5%,
                  68% 36%,
                  62% 36%,
                  62% 1%,
                  12% 1%,
                  12% 34%,
                  60% 34%,
                  60% 57%,
                  98% 57%,
                  98% 83%,
                  1% 83%,
                  1% 53%,
                  91% 53%,
                  91% 84%,
                  8% 84%,
                  8% 83%,
                  4% 83%);
            }

            .paths {
              animation: paths 5s step-end infinite;
            }

            @keyframes paths {
              0% {
                clip-path: polygon(0% 43%,
                    83% 43%,
                    83% 22%,
                    23% 22%,
                    23% 24%,
                    91% 24%,
                    91% 26%,
                    18% 26%,
                    18% 83%,
                    29% 83%,
                    29% 17%,
                    41% 17%,
                    41% 39%,
                    18% 39%,
                    18% 82%,
                    54% 82%,
                    54% 88%,
                    19% 88%,
                    19% 4%,
                    39% 4%,
                    39% 14%,
                    76% 14%,
                    76% 52%,
                    23% 52%,
                    23% 35%,
                    19% 35%,
                    19% 8%,
                    36% 8%,
                    36% 31%,
                    73% 31%,
                    73% 16%,
                    1% 16%,
                    1% 56%,
                    50% 56%,
                    50% 8%);
              }

              5% {
                clip-path: polygon(0% 29%,
                    44% 29%,
                    44% 83%,
                    94% 83%,
                    94% 56%,
                    11% 56%,
                    11% 64%,
                    94% 64%,
                    94% 70%,
                    88% 70%,
                    88% 32%,
                    18% 32%,
                    18% 96%,
                    10% 96%,
                    10% 62%,
                    9% 62%,
                    9% 84%,
                    68% 84%,
                    68% 50%,
                    52% 50%,
                    52% 55%,
                    35% 55%,
                    35% 87%,
                    25% 87%,
                    25% 39%,
                    15% 39%,
                    15% 88%,
                    52% 88%);
              }

              30% {
                clip-path: polygon(0% 53%,
                    93% 53%,
                    93% 62%,
                    68% 62%,
                    68% 37%,
                    97% 37%,
                    97% 89%,
                    13% 89%,
                    13% 45%,
                    51% 45%,
                    51% 88%,
                    17% 88%,
                    17% 54%,
                    81% 54%,
                    81% 75%,
                    79% 75%,
                    79% 76%,
                    38% 76%,
                    38% 28%,
                    61% 28%,
                    61% 12%,
                    55% 12%,
                    55% 62%,
                    68% 62%,
                    68% 51%,
                    0% 51%,
                    0% 92%,
                    63% 92%,
                    63% 4%,
                    65% 4%);
              }

              45% {
                clip-path: polygon(0% 33%,
                    2% 33%,
                    2% 69%,
                    58% 69%,
                    58% 94%,
                    55% 94%,
                    55% 25%,
                    33% 25%,
                    33% 85%,
                    16% 85%,
                    16% 19%,
                    5% 19%,
                    5% 20%,
                    79% 20%,
                    79% 96%,
                    93% 96%,
                    93% 50%,
                    5% 50%,
                    5% 74%,
                    55% 74%,
                    55% 57%,
                    96% 57%,
                    96% 59%,
                    87% 59%,
                    87% 65%,
                    82% 65%,
                    82% 39%,
                    63% 39%,
                    63% 92%,
                    4% 92%,
                    4% 36%,
                    24% 36%,
                    24% 70%,
                    1% 70%,
                    1% 43%,
                    15% 43%,
                    15% 28%,
                    23% 28%,
                    23% 71%,
                    90% 71%,
                    90% 86%,
                    97% 86%,
                    97% 1%,
                    60% 1%,
                    60% 67%,
                    71% 67%,
                    71% 91%,
                    17% 91%,
                    17% 14%,
                    39% 14%,
                    39% 30%,
                    58% 30%,
                    58% 11%,
                    52% 11%,
                    52% 83%,
                    68% 83%);
              }

              76% {
                clip-path: polygon(0% 26%,
                    15% 26%,
                    15% 73%,
                    72% 73%,
                    72% 70%,
                    77% 70%,
                    77% 75%,
                    8% 75%,
                    8% 42%,
                    4% 42%,
                    4% 61%,
                    17% 61%,
                    17% 12%,
                    26% 12%,
                    26% 63%,
                    73% 63%,
                    73% 43%,
                    90% 43%,
                    90% 67%,
                    50% 67%,
                    50% 41%,
                    42% 41%,
                    42% 46%,
                    50% 46%,
                    50% 84%,
                    96% 84%,
                    96% 78%,
                    49% 78%,
                    49% 25%,
                    63% 25%,
                    63% 14%);
              }

              90% {
                clip-path: polygon(0% 41%,
                    13% 41%,
                    13% 6%,
                    87% 6%,
                    87% 93%,
                    10% 93%,
                    10% 13%,
                    89% 13%,
                    89% 6%,
                    3% 6%,
                    3% 8%,
                    16% 8%,
                    16% 79%,
                    0% 79%,
                    0% 99%,
                    92% 99%,
                    92% 90%,
                    5% 90%,
                    5% 60%,
                    0% 60%,
                    0% 48%,
                    89% 48%,
                    89% 13%,
                    80% 13%,
                    80% 43%,
                    95% 43%,
                    95% 19%,
                    80% 19%,
                    80% 85%,
                    38% 85%,
                    38% 62%);
              }

              1%,
              7%,
              33%,
              47%,
              78%,
              93% {
                clip-path: none;
              }
            }


            @keyframes movement {
              0% {
                top: 0px;
                left: -20px;
              }

              15% {
                top: 10px;
                left: 10px;
              }

              60% {
                top: 5px;
                left: -10px;
              }

              75% {
                top: -5px;
                left: 20px;
              }

              100% {
                top: 10px;
                left: 5px;
              }
            }

            @keyframes opacity {
              0% {
                opacity: 0.1;
              }

              5% {
                opacity: 0.7;
              }

              30% {
                opacity: 0.4;
              }

              45% {
                opacity: 0.6;
              }

              76% {
                opacity: 0.4;
              }

              90% {
                opacity: 0.8;
              }

              1%,
              7%,
              33%,
              47%,
              78%,
              93% {
                opacity: 0;
              }
            }

            @keyframes font {
              0% {
                font-weight: 100;
                color: #e0287d;
                filter: blur(3px);
              }

              20% {
                font-weight: 500;
                color: #fff;
                filter: blur(0);
              }

              50% {
                font-weight: 300;
                color: #1bc7fb;
                filter: blur(2px);
              }

              60% {
                font-weight: 700;
                color: #fff;
                filter: blur(0);
              }

              90% {
                font-weight: 500;
                color: #e0287d;
                filter: blur(6px);
              }
            }
          }
        }
      }
    }
  }

  .header-side {
    width: 30vw;
    height: auto;
    max-height: 300px;
    position: relative;

    @include breakpointMin(screen_l) {
      max-height: unset;
    }

    @include breakpointMax(tablet) {
      display: none;
    }

    .header-side-logo {
      position: absolute;
      object-fit: contain;
      left: 0;
      top: 0;

      height: 100%;
      width: 100%;
      z-index: 10;
      fill: white;
      //transform: rotate(90deg);
      transition: all 1.5s ease;
      will-change: transform;

      path {
        fill: transparent;
        stroke: white;
        stroke-width: 2px;
        stroke-dasharray: 1000;
        animation: dash 20s linear;
        animation-iteration-count: infinite;
        transition: all .5s ease;
        will-change: transform;
      }

      @keyframes dash {
        to {
          stroke-dashoffset: 2000;
        }
      }

      &.active {
        path {
          fill: rgb(255, 255, 255);
          stroke: white;
          stroke-width: 0px;
          stroke-dasharray: 1000;
          animation: dash 5s linear;
          animation-iteration-count: infinite;
        }

        @keyframes dash {
          to {
            stroke-dashoffset: 2000;
          }
        }
      }
    }

    .header-side-box {
      transform: translateX(-15vw);
      overflow: hidden;
      top: -50px;
      right: -16px;

      @include breakpointMin(screen_xl) {
        width: 20vw;
      }

      @include breakpointMin(screen_s) {
        top: -30px;
      }
    }

    .header-side-svg {
      position: absolute;
      object-fit: cover;

      //height: 50vh;
      width: auto;
      z-index: 0;

      opacity: 1;
      transform: translateX(500px);
      transition: all .25s ease;
      will-change: transform;

      @include breakpointMin(screen_xl) {
        transform: translateX(30vw);
        width: 20vw;
        max-height: unset;
        height: 45vh;
      }
    }

    #layeur {
      position: absolute !important;
      object-fit: contain;
      height: 100%;
      width: 100%;
      max-height: 468px;
      z-index: 1;
      transition: all .25s ease;
      will-change: transform;
      overflow: hidden;

      opacity: 1;
      transform: translateX(500px);

      @include breakpointMin(screen_xl) {
        transform: translateX(30vw);
        width: 20vw;
        max-height: unset;
        height: 45vh;
      }
    }


    .header-side-svg-img {
      // width: 100%;
      // height: 100%;
      //object-fit: contain;
      //filter: url(#filter);
      //animation: 0.8s my-animation alternate infinite;

    }

    // @keyframes my-animation {
    //   0% {
    //     filter: none;
    //   }

    //   20% {
    //     filter: url(#filter);
    //   }

    //   50% {
    //     filter: url(#filter-2);
    //   }

    //   80% {
    //     filter: url(#filter-3);
    //   }

    //   94% {
    //     filter: none;
    //   }
    // }

  }

  .navigation {
    @include ccb;

    position: fixed;
    z-index: 10;
    width: 30px;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 0;
    margin: 0;

    @include breakpointMax(tablet) {
      right: 20px;
      left: unset;
      bottom: 180px;
      transform: none;
    }

    .navigation-item {
      width: 33px;
      height: 33px;
      transition: all .2s ease;
      will-change: transform;
      position: relative;

      padding-bottom: 30px;

      @include cce;

      &:nth-last-child(1) {
        padding-bottom: 0;
      }

      a {
        @include rcc;

        svg {
          width: 33px;
          height: 33px;
          fill: white;

          overflow: hidden;

          transition: all .2s ease;
          will-change: transform;

          @include breakpointMax(tablet) {
            width: 25px;
            height: 25px;
          }
        }
      }

      .navigation-item-text {
        font-family: 'Raleway', sans-serif;
        color: white;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(20px, -50px);
        margin: 0;

        font-size: 16px;

        overflow: hidden;

        transition: all .2s ease;
        will-change: transform;

        @include breakpointMax(tablet) {
          display: none;
        }

        .navigation-item-text-span {
          transform: translateX(-100%);
        }
      }

      &:hover {
        // width: 33px;
        // height: 80px;
        // transform: translateY(-10px);


        a {
          svg {
            // width: 33px;
            // height: 80px;
            transform: translateY(-10px);
            fill: white;
          }
        }

        .navigation-item-text {
          opacity: 1;
          visibility: visible;
          transform: translate(20px, -30px);
        }
      }
    }
  }

  .verticalmenu {
    @include rcb;
    @include nowrap;

    position: fixed;
    bottom: 30px;
    transform: translate(0%, -50%);
    left: 55%;
    margin: 0;
    padding: 0;

    @include breakpointMax(tablet) {
      transform: translate(-50%, -50%);
      left: 50%;
      bottom: 80px;
    }

    @include breakpointMax(mobile_m) {
      bottom: 65px;
    }

    @include breakpointMax(mobile_s) {
      bottom: 65px;
    }


    .verticalmenu-item {
      padding: 0 10px;
      overflow: hidden;

      .verticalmenu-item-link {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        display: block;

        @include breakpointMax(tablet) {
          text-align: center;
        }
      }
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
    transition: .3s ease;
    will-change: transform;

    .header-box {
      transition: all .15s ease .15s;
      will-change: transform;
    }

    .header-title {
      transform: translateY(0vw) rotate(-10deg);
      //transition: .5s ease;
      will-change: transform;
    }

    .header-nav {
      .header-nav-wrapper {
        .header-nav-wrapper-item {
          .header-nav-wrapper-item-link {
            transform: translateY(0vw);
            transition: all 1s ease;
            will-change: transform;
          }
        }
      }
    }
  }
}

.header-side-box {
  @include ccc;
  position: absolute;
  height: 40vh;
  width: 342px;
  transform: translateX(0px);

  @include breakpointMax(screen_m) {
    height: 45vh;
  }

  @include breakpointMax(screen_s) {
    height: 45vh;
  }


  &.active {
    #layeur {
      opacity: .2;
      transform: translateX(0px);
    }

    .header-side-svg {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}