.welcome {
  // min-height: 100vh;
  // height: 100%;
  // width: 100%;

  .containerText {
    @include ccs;
    margin-left: 10vw;
    position: relative;
    z-index: 9;

    width: 50%;
    height: 100vh;

    @include breakpointMin(start) {
      // Démarre par la valeur 0px vers l'infini    
      @include ccc;
      width: 100vw;
      margin: 0;
    }
    
    @include breakpointMin(mobile_s) {
      // Démarre par la valeur 320px vers l'infini    
    }
  
    @include breakpointMin(mobile_m) {
      // Démarre par la valeur 360px vers l'infini    
    }
  
    @include breakpointMin(mobile_l) {
      // Démarre par la valeur 480px vers l'infini    
    }
  
    @include breakpointMin(tablet) {
      // Démarre par la valeur 540px vers l'infini    

    }
  
    @include breakpointMin(screen_s) {
      // Démarre par la valeur 1024px vers l'infini    
      @include ccc;
      width: 50%;
      margin: 0;
    }
  
    @include breakpointMin(screen_m) {
      // Démarre par la valeur 1366px vers l'infini    
    }
  
    @include breakpointMin(screen_l) {
      // Démarre par la valeur 1920px vers l'infini    
    }
  
    @include breakpointMin(screen_xl) {
      // Démarre par la valeur 3840px vers l'infini    
    }


    .title {
      -webkit-text-stroke: 2px black;
      /* width and color */
      font-family: italic;
      font-size: 60px;
      color: transparent;
      text-transform: uppercase;
      font-weight: 900;
      font-style: italic;
      transform: skewX(-10deg);
      margin-bottom: 0;

      @include breakpointMin(start) {
        // Démarre par la valeur 0px vers l'infini    
        font-size: 22px;
        -webkit-text-stroke: 1px black;
        margin-bottom: 20px;
      }
      
      @include breakpointMin(mobile_s) {
        // Démarre par la valeur 320px vers l'infini    
        font-size: 22px;
        -webkit-text-stroke: 1px black;
      }
    
      @include breakpointMin(mobile_m) {
        // Démarre par la valeur 360px vers l'infini    
        font-size: 25px;
        -webkit-text-stroke: 1px black;
      }
    
      @include breakpointMin(mobile_l) {
        // Démarre par la valeur 480px vers l'infini    
        font-size: 32px;
        -webkit-text-stroke: 2px black;
      }
    
      @include breakpointMin(tablet) {
        // Démarre par la valeur 540px vers l'infini    
        font-size: 40px;
        -webkit-text-stroke: 2px black;
      }
    
      @include breakpointMin(screen_s) {
        // Démarre par la valeur 1024px vers l'infini    
        font-size: 30px;
        -webkit-text-stroke: 2px black;
        margin-bottom: 0px;
      }
    
      @include breakpointMin(screen_l) {
        // Démarre par la valeur 1920px vers l'infini    
        font-size: 60px;
        -webkit-text-stroke: 3px black;
      }
    
      @include breakpointMin(screen_xl) {
        // Démarre par la valeur 3840px vers l'infini    
        font-size: 3vw;
      }
    }

    .paragraph {
      width: 724px;
      font-size: 18px;
      font-weight: 400;
      text-align: justify;
      text-transform: uppercase;
      font-family: medium;

      @include breakpointMin(start) {
        // Démarre par la valeur 0px vers l'infini    
        font-size: 12px;
      }
      
      @include breakpointMin(mobile_m) {
        // Démarre par la valeur 360px vers l'infini    
        font-size: 14px; 
      }
    
      @include breakpointMin(mobile_l) {
        // Démarre par la valeur 480px vers l'infini  
        font-size: 15px;   
      }
    
      @include breakpointMin(screen_s) {
        // Démarre par la valeur 1024px vers l'infini   
        width: 80%; 
        font-size: 13px;
      }
    
      @include breakpointMin(screen_l) {
        // Démarre par la valeur 1920px vers l'infini    
        font-size: 18px;   
      }
    
      @include breakpointMin(screen_xl) {
        // Démarre par la valeur 3840px vers l'infini    
        font-size: 1vw;   
      }

      @media screen and (max-width: 724px) {
        width: 80vw;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
      }
  
    }

    .subParagraph {
      width: 724px;
      font-size: 12px;
      text-align: justify;
      text-transform: uppercase;
      font-family: regular;
    }

    #holder {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
      border: 10px dashed rgb(0, 0, 0);
      width: 150px;
      height: 150px;
      margin: 20px auto;
      background-image: url(../assets/dragdrop.png);
      background-position: center;
      background-size: contain;
      z-index: 5;
      padding: 17px;

      @include breakpointMin(start) {
        // Démarre par la valeur 0px vers l'infini   
        display: none; 
      }

      @include breakpointMin(screen_s) {
        // Démarre par la valeur 1024px vers l'infini   
        display: flex; 
        width: 70px;
        height: 70px;
        border: 5px dashed rgb(0, 0, 0);
      }
    
      @include breakpointMin(screen_l) {
        // Démarre par la valeur 1920px vers l'infini   
        width: 190px;
        height: 190px; 
      }
    
      @include breakpointMin(screen_xl) {
        // Démarre par la valeur 3840px vers l'infini    
        width: 300px;
        height: 300px; 
        border: 5px dashed rgb(0, 0, 0);
      }
    }

    #holder.hover {
      border: 10px dashed #333;
      z-index: 6;
    }

    .box {
      margin-right: auto;
      margin-left: auto;
      z-index: 6;
      margin-top: 20px;
      margin-bottom: 20px;

      @include breakpointMin(start) {
        display: none; 
      }
    
      @include breakpointMin(tablet) {
        // Démarre par la valeur 540px vers l'infini    
        display: flex;
      }
    }

    .fileLoader-2 {
      display: none;
    }

    .fileLoader+label {
      font-size: 1.25rem;
      /* 20px */
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      font-size: 18px;
      font-weight: 400;
      text-align: justify;
      text-transform: uppercase;
      font-family: regular;
      width: 204px;
      text-align: center;
      padding: 10px 0px;
      /* 10px 20px */
    
      @include breakpointMin(screen_s) {
        // Démarre par la valeur 1024px vers l'infini    
        width: 126px;
        font-size: 12px;
      }

      @include breakpointMin(screen_l) {
        // Démarre par la valeur 1024px vers l'infini    
        width: 226px;
        font-size: 18px;
      }

      @include breakpointMin(screen_xl) {
        // Démarre par la valeur 1024px vers l'infini    
        width: 326px;
        font-size: 30px;
      }
    }

    .fileLoader:focus+label,
    .fileLoader.has-focus+label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }

    .fileLoader+label * {
      /* pointer-events: none; */
      /* in case of FastClick lib use */
    }

    .fileLoader+label svg {
      width: 1em;
      height: 1em;
      vertical-align: middle;
      fill: currentColor;
      margin-top: -0.25em;
      /* 4px */
      margin-right: 0.25em;
      /* 4px */
    }


    .fileLoader-2+label {
      color: #000000;
      border: 2px solid currentColor;
    }

    .fileLoader-2:focus+label,
    .fileLoader-2.has-focus+label,
    .fileLoader-2+label:hover {
      color: #2b2b2b;
    }

    button {
      @include ccc;
      width: 204px;
      background-color: transparent;
      padding: 10px 0px;

      @include breakpointMin(start) {
        display: none; 
      }
    
      @include breakpointMin(tablet) {
        // Démarre par la valeur 540px vers l'infini    
        display: flex;
      }
          
      @include breakpointMin(screen_s) {
        // Démarre par la valeur 1024px vers l'infini    
        width: 130px;
      }

      @include breakpointMin(screen_l) {
        // Démarre par la valeur 1024px vers l'infini    
        width: 230px;
      }

      @include breakpointMin(screen_xl) {
        // Démarre par la valeur 1024px vers l'infini    
        width: 330px;
      }
      
      a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        text-align: justify;
        text-transform: uppercase;
        font-family: regular;
        color: #2b2b2b;

        @include breakpointMin(screen_s) {
          // Démarre par la valeur 1024px vers l'infini    
          font-size: 12px;
        }

        @include breakpointMin(screen_l) {
          // Démarre par la valeur 1024px vers l'infini    
          font-size: 18px;
        }

        @include breakpointMin(screen_xl) {
          // Démarre par la valeur 1024px vers l'infini    
          font-size: 30px;
        }
      }
    }
  }

  .occitanie {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;

    svg {
      position: absolute;
      z-index: 4;
      width: 50vw;
      opacity: .2;
    }
  }


  .containerCan {
    @include ccc;
    position: fixed;
    width: 50%;
    height: 100%;

    top: 0;
    right: 0;
    z-index: 5;

    canvas {
      width: 100%;
      height: 100%;
    }

    @media screen and (max-width: 540px) {
      display: none;
    }
  }
}